@charset "UTF-8";

/*Mobile First*/

/* Paleta de Cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/
        /*Global*/
*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

        /*Semântico*/
body{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main{
    background-color: white;

    width: 60vw;
    height: 80vh;
    border-radius: 15px;
    padding: 15px;
}
main h1{
    text-align: center;
}
main p{
    text-align: justify;
}

h1{
    padding: 10px;
}

