@charset "UTF-8";

/*Mobile First*/

/* Paleta de Cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/
        /*Global*/
*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

        /*Semântico*/
body{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;

    position: relative;
}

main{
    background-color: white;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 50vw;
    height: 65vh;
    border-radius: 15px;
    padding: 15px;
}


main h1{
    text-align: center;
}
main p{
    text-align: justify;
}

h1{
    padding: 10px;
}

input{
    background-color:#5ecfcb;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 90%;
    box-sizing: border-box;
}
form{
    padding-top: 20px;
}
div#email, div#senha{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color:#5f2c82;
    border-radius:5px;
}
div#email{
    margin-bottom: 5px;
}
